@use '../../styles/partials/colours' as *;
@use '../../styles/partials/mixins' as *;


.cookies {
    background-image: url('../../assets/images/classic-chocolate-chip-cookies.jpg');
}

.graphic-design {
    background-image: url('../../assets/images/graphic-designer.png');
}

.tutoring {
    background-image: url('../../assets/images/tutor.jpeg');
}

.soccer {
    background-image: url('../../assets/images/soccer.png');
}

.waterpark {
    background-image: url('../../assets/images/waterpark.png');

}

.pharmacy {
    background-image: url('../../assets/images/pharmacy.png');

}

.bio-lab {
    background-image: url('../../assets/images/QAAssistant.png');

}

.barista {
    background-image: url('../../assets/images/barista.png');

}

.grocery-store {
    background-image: url('../../assets/images/cashier.png');

}

.selected {
    display: flex;
}
 