@use '../../styles/partials/colours' as *;
@use '../../styles/partials/mixins' as *;

// .work-experience {
//     display: flex;
//     justify-content: center;

//     @include desktop {
//         width: 80%;

//     }
// }

.cookies {
    background-image: url('../../assets/images/classic-chocolate-chip-cookies.jpg');
}

.graphic-design {
    background-image: url('../../assets/images/graphic-designer.png');
}

.tutoring {
    background-image: url('../../assets/images/tutor.jpeg');
}

.soccer {
    background-image: url('../../assets/images/soccer.png');
}

.waterpark {
    background-image: url('../../assets/images/waterpark.png');

}

.pharmacy {
    background-image: url('../../assets/images/pharmacy.png');

}

.bio-lab {
    background-image: url('../../assets/images/QAAssistant.png');

}

.barista {
    background-image: url('../../assets/images/barista.png');

}

.grocery-store {
    background-image: url('../../assets/images/cashier.png');

}

.selected {
    display: flex;
}
 
.see-more-button {
    background-color: $DarkPurple;
    color: $White;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    height: 25px;
    cursor: pointer;


    @include tablet {
        height: 40px;
        width: 80px;
    }
}

.experience-rectangles {
    width: 70%;
}