@use '../../styles/partials/colours' as *;
@use '../../styles/partials/mixins' as *;

.hero {
    background-image: url('../../assets/images/_8b6c3721-05a8-4c78-bc97-7e68b2a2e2bb.jpeg');
    height: 323px;
    background-size: cover; 
    background-position: center;
    display: flex;
    align-items: center;

    &::after {
        content: ""; // Empty content for the pseudo-element
        position: absolute; // Position absolute for the pseudo-element
        top: 0;
        left: 0;
        width: 100%; // Full width of the parent
        height: 322px; // Full height of the parent
        background-color: rgba(0.2196, 0.0902, 0.3647, 0.6); // Semi-transparent greyish-black color
        z-index: 1; // Ensure the overlay is above the background image
    }

    &__text {
        position: relative;
        color: white;
        padding: 12px 32px 0px 32px;
        line-height: 25px;
        font-weight: 600;
        z-index: 2;
        font-size: 20px;
    }

    @include tablet {
        height: 412px;

        &::after {
            height: 411px;
        }

        &__text {
            padding: 12px 200px 0px 200px;
            font-size: 25px;
            line-height: 30px;
        }
    }

    @include desktop {
        height: 600px;

        &::after {
            height: 600px;
        }

        &__text {
            padding: 12px 325px 0px 325px;
            font-size: 34px;
            line-height: 43px;
        }
    }
}