@use '../../styles/partials/colours' as *;
@use '../../styles/partials/mixins' as *;

.resume {
    position: relative;
    top: -2px;
    padding: 32px 16px;
    background-image: linear-gradient(to bottom, $LightPurple, $DarkPurple);

    &__title {
        color: white;
        padding-bottom: 16px;
        font-size: 20px;
        font-weight: 600;
    }

    &__options {
        display: flex;
        align-items: center;
        overflow-x: auto;
        white-space: nowrap;

        &--indiv {
            background-color: $DarkPurple;
            color: $White;
            margin: 0px 1px 12px 6px;
            padding: 4px 7px;
            border-radius: 10px;
            font-size: 13px;
            font-weight: 600;
            text-decoration: none;
            list-style: none;
            text-decoration: none;
            border: none;
            outline: none;
        }

        &--indiv.selected {
            background-color: $White;
            color: $DarkPurple;
        }
    }
}

.selected {
    display: flex;
}