@use '../../styles/partials/colours' as *;
@use '../../styles/partials/mixins' as *;

header {
    background-color: transparent;
    height: 45px;
    margin: 0px;
    padding-top: 15px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.mobile-header {
    display: flex;
    align-items: center;

    &__list {
        position: absolute;
        left: 10px;
        color: $White;
    }

    &__name {
        margin: 0 auto;
        color: $White;
        font-weight: 600;
        z-index: 2;
        position: relative;
        font-size: 20px;
        text-shadow: 6px 6px 6px black;
    }
}

.menu {
    display: none;
    flex-direction: column;
    background-color: $DarkPurple;
    position: fixed;
    top: 45px;
    width: 100%;
    z-index: 3;

    &__link {
        text-decoration: none;
        color: white;
        padding: 16px 0px;
        border-bottom: 1px white solid;

        &:hover {
            background-color: $DarkPurple;
        }
    }
}

.open {
    display: flex;
}