
@use './styles/partials/colours' as *;
@use './styles/partials/mixins' as *;

* {
    box-sizing: border-box;
    font-family: Palatino;
    margin: 0px;
    position: relative;
  }

.experience-details {
    background-color: white;
    color: $DarkPurple;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: bold;
        padding-bottom: 10px;
        font-size: 15px;
    }

    &__list-item {
        text-align: left;
        font-size: 14px;

        // display: block; /* Display as inline block */
        // vertical-align: top; /* Align vertically with the first line */
        // margin-left: 10px; /* Adjust margin if needed */
        // list-style-position: inside;
        // list-style-type: disc;
    }
}

.go-back {
    background-color: white;
    outline: none;
    border: none;
    padding: 0px 0px 12px 0px;
    text-align: left;
}

.work-experience {
    display: none;
    flex-wrap: wrap;

    &.selected {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.experience {
    height: 165px;
    width: 46%;
    background-color: white;
    border-radius: 10px;
    margin: 5.75px;
    text-decoration: none;
    color: $White;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover; 
    background-position: center;
    border: none;
    outline: none;
    align-items: center;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;

    &::after {
        content: ""; // Empty content for the pseudo-element
        position: absolute; // Position absolute for the pseudo-element
        top: 0;
        left: 0;
        width: 100%; // Full width of the parent
        height: 165px; // Full height of the parent
        border-radius: 10px;
        background-color: rgba(0.2196, 0.0902, 0.3647, 0.9); // Semi-transparent greyish-black color
        z-index: 1; // Ensure the overlay is above the background image
        transition: 0.25s ease-in;
        // opacity: 0;
    }

    &:hover::after {
        background-color: transparent; // Semi-transparent greyish-black color
        z-index: 0;
    }

    &:hover {
        color: transparent;
        text-shadow: none;
    }

    &__company {
        font-size: 14px;
        z-index: 2;
    }

    &__role {
        font-weight: 600;
        z-index: 2;
        text-align: center;
        font-size: 16px;
    }

    &__date {
        font-size: 14px;
        z-index: 2;
    }

    @include tablet {
        height: 215px;
        width: 30%;

        &::after {
            height: 216px;
        }

        &__company {
            font-weight: bold;
        }

        &__role {
            font-size: 20px;
        }

        &__date {
            font-weight: bold;
        }
    }

    @include desktop {
        height: 323px;
        padding: 20px 10px;

        &::after {
            height: 324px;
        }

        &__role {
            font-size: 29px;
        }

        &__company {
            font-size: 22px;
        }

        &__date {
            font-size: 22px;
        }
    }
}

.project {
    background-color: white;
    border-radius: 10px;
    margin: 16px 0px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;

    &__top {
        display: flex;
        align-items: flex-start;

        &--title {
            font-weight: bold;
            padding-bottom: 8px;
            font-size: 15px;
        }

        &--github {
            margin-left: 10px;
        }
    }

    &__middle {
        display: flex;
        flex-direction: row;
    }

    &__image {
        width: 50px;
        height: 55px;
        margin-right: 10px;
    }



    &__details {
        font-size: 14px;
        text-align: left;
        padding-inline-start: 10px;
    }

    &__link {
        padding-top: 10px;
        font-size: 14px;
    }
}